body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon {
  color: white;
}

.negrita {
  font-weight: bold;
}

p {
  font-size: 1.3em;
}


.link {
  text-decoration: none;
  color: white;
  margin-left: 0.2em;
}

.link:hover {
  color: yellow;
} 
